#f1 .formTable{
    border-collapse: collapse;
    /*border: 1px solid black;*/   
    width: 100%;
}

#f1 .formTable th{
    width: 20% !important;    
    background-color: #f2f2f2;
    border:1px solid  #c3c3c3;
    text-align: left;
    padding: 2px;
    margin: 10px;
    font-size: 20px;   
}
#f1 .formTable th:hover{    
    background-color: #f2f2f2;
    text-align: center;
    padding: 2px;
    margin: 10px;
    font-size: 20px;   
}
#f1 .formTable td{
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 20px;  
    border:1px solid  #c3c3c3;
    width: 45% !important;    
}
#f1 tr:hover, tr:active{
    box-shadow: 5px 0px 0px red;
}
#f1 .formTable td:hover{   
    /*border: 1px solid #c2c1c1;*/
    background-color: #f2f2f2;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 20px;   

}
#f1 .msgtd{
    border: none !important;
}

#f1 .ui-inputfield {
    font-weight: normal;
    margin: 0;
    outline: medium none;
    padding: 0px !important;
    width: 426px !important;
    border-color: #ddd !important;
    border-radius: 0px !important;
    box-shadow: red !important;
}

#f1 .ui-selectonemenu {
    cursor: pointer;
    display: inline-block;
    padding-right: 2em;
    position: relative;
    width: 426px !important;
}
#f1 .ui-button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    /*float: right;*/
}
hr{
    color: red;
    background-color: red;
}
